!*/.gitkeep
in/*
out/*

Snakefile_counts

# ignore all output files
*.txt
*.tsv
*.bam
*.bai
*.bed
*.bedgraph
*.fq
*.fq.gz

*.png
*.svg

scripts/R/*.html
*.png

*.Rproj
*.Rhistory
*.RData
*.RDS

!references/*

.snakemake
Miniconda3-latest.sh
.Rproj.user
